<h3>
  Template Forms:
  <small>Switch Forms</small>
</h3>
<hr />

<form #registerForm="ngForm">
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Gender</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          type="radio"
          [(ngModel)]="person.gender"
          id="maleRadio"
          name="flexRadioDefault"
          class="form-check-input"
          value="Male"
          required
        />
        <label for="maleRadio" class="form-check-label">Male</label>
      </div>

      <div class="form-check">
        <input
          type="radio"
          [(ngModel)]="person.gender"
          id="femaleRadio"
          name="flexRadioDefault"
          class="form-check-input"
          value="Female"
          required
        />
        <label for="femaleRadio" class="form-check-label">Female</label>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notifications</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input type="checkbox" [(ngModel)]="person.notifications" id="notifications" name="notifications" class="form-check-input" />
        <label for="notifications" class="form-check-label">I want to receive notifications in the future</label>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Terms and Conditions</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input type="checkbox" [ngModel]="termsAndConditions" id="tacs" name="tacs" class="form-check-input" required />
        <label for="tacs" class="form-check-label">
          I agree with the
          <a href="#">Terms and Conditions of Service</a>
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary float-end">Save</button>
    </div>
  </div>
</form>

<h4>registerForm</h4>
<pre>{{ registerForm.value | json }}</pre>

<br />

<h5>Valid</h5>
<pre>{{ registerForm.valid }}</pre>

<br>

<h5>Terms & Conditions</h5>
<pre>{{ registerForm.controls.tacs?.errors | json }}</pre>
